

     /**************************HEADER*******************************/
header {
  background-color: #FF662B;
  height: 50px;
  width: auto;
  padding-top: 0;
}

  /***************************BARRE DE NAV + LOGO****************************/

ul {
  list-style-type: none;
  width: 900px;
  margin-right: auto;
  margin-left: auto;
}

li {
  display: inline-block;
  float: right;
  padding-left: 30px;
  padding-top: 15px;
  color: white;
  font-weight: bold;
  font-family: Arial;
}


.logo {
  display: block;
  float: left;

}


li:hover {
  text-decoration: underline;
}

.clbc {
  margin-left: 400px;
}

 /************************SMARTPHONE****************************/

@media screen and (max-width: 480px) {
  .clbc {
    margin-left: 5px;
    width: 100%;
    height: 80%;
  }

}
